$textGray: rgb(112, 112, 112);
$white: rgb(255, 255, 255);
$black: rgb(000, 000, 000);
$blue: rgb(88, 137, 196);

@keyframes text-emerge {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: $white;
  width: 60%;
  font-family: sans-serif;
  padding: 8%;
  gap: 30px;
  border-radius: 5px;
  button {
    width: 100px;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    background-color: $blue;
    color: $white;
    font-size: 16px;
    padding: 6px;
    font-weight: 600;
    border:2px solid $blue;
    cursor: pointer;
    &:hover {
      transition: 0.5s;
      background-color: $white;
      color: $blue;
    }
  }
}
.header {
  font-size: 20px;
  font-weight: 600;
  color: $textGray;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: $textGray;
  width: 100%;
  span {
    position: absolute;
    margin-top: 68px;
    font-size: 12px;
    margin-left: 5px;
    color: rgba($textGray, 0.8);
    animation: text-emerge 1s;
  }
  input {
    width: 80%;
    height: 30px;
    outline: none;
    border-radius: 4px;
    border: 2px solid rgba($black, 0.3);
    padding-left: 10px;
    &:focus {
      border-color: rgba($blue, 0.5);
    }
  }
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@media (max-width: 520px) {
  .form {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .label {
    align-items: center;
    max-width: 350px;
  }
}
